@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap'); 

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    height: 10%;
    background-color: black;
    list-style: none;
    padding: 0;
}

#menu-h li {
    /*deixa os elementos lado a lado*/
    display: inline;
}

#menu-h li a{

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 95px;
    padding-right: 100px;
    color: white;
    text-decoration: none;
    display: inline-block;   
}

#menu-h li a:hover{
    background-color: rgb(141, 141, 46);
}


#fachada {
    width: 50%;
    height: 80%;
    background-color: lightpink;
    float: left;
}

#fachada > img {
    width: 100%;
    height: 100%;
    float: left;   
}

#conteudo {
    width: 50%;
    height: 80%;
    background-color: rgb(141, 141, 46);
    float: left;
}

.texto > h1{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.texto > h2 {
    text-align: justify;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.texto > img {
    height: 130px;
    width: 160px;
    float: left;
    margin-top: 30px;
    margin-left: 110px;
    margin-right: 10px;
}

#rodape {
    padding-top: 25px;
    height: 10%;
    clear: both;
    background-color: black; 
    font-size: 15px;
    text-align: center;
    
}

#rodape a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

#rodape a:hover {
    background-color:rgb(141, 141, 46);
}




